  
h1 {
	/*margin-top: 0.5em;*/
}

h2 {
	margin-top: 0.5em;
}

img{
	max-width: 100%;
}

.siteheader{
	align-content: center;
	background-color: #0064A4;
	height: 75px;
}.siteheader .text-center #computer-music-programming {
	font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, sans-serif;
}